<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.writeMe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity android:name="com.example.writeMe.messages.EditProfileActivity" />

        <activity
            android:name="com.example.writeMe.messages.NewMessageActivity"
            android:parentActivityName="com.example.writeMe.messages.LatestMessagesActivity">
        </activity>

        <activity android:name="com.example.writeMe.messages.ChatLogActivity"
            android:parentActivityName="com.example.writeMe.messages.LatestMessagesActivity">
        </activity>

        <activity
            android:name="com.example.writeMe.messages.LatestMessagesActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.writeMe.registration.MainActivity" />

        <activity android:name="com.example.writeMe.registration.LoginActivity" />

        <service android:name="com.example.writeMe.notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.RECEIVE">
            <intent-filter>
                <action android:name="MyUsers"/>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.example.writeMe.messages.CloseAppService"/>
    </application>

</manifest>